.tarea-formulario{
    display: flex;
    width: 500px;
    
    align-items: center;
    justify-content:space-between;
    margin: 5px 3px;
}
.tarea-inp{
    max-width: 100%;
    width: 400px;
    flex-shrink: 1;
    font-size: 18px;
    background-color: rgb(251, 154, 93);
    padding: 12px 32px 14px 16px;
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 20px;
    /*outline: none;*/
}
.tarea-boton{
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: brown;
    color: antiquewhite;
    text-transform: capitalize;
    flex-shrink: 0;
    border: 0;

}